.page {
  background-color: #3c3c5a;
  color: #333;
  min-height: 100vh;
}
.absoluteCenter {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  flex-direction: column;
}
.withNavBar{
  min-height: calc(100vh - 4.1rem);
}
.content {
  background-color:#fff;
  padding:10rem;
  min-height: 100vh;
}
.withNavBar .content {
  margin-top:-1.5rem;
  min-height: calc(100vh - 6rem);
}
